<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>

<a th:href="@{/post/showCreate}">click vao de them moi</a>
<table>
    <tr>
        <th>Id</th>
        <th>Content</th>
        <th>Image</th>
        <th>Description</th>
        <th>Title</th>
    </tr>
    <tr th:each="p : ${listPost}">
        <td th:text="${p.getPost_id()}"></td>
        <td th:text="${p.getPost_content()}"></td>
        <td th:text="${p.getPost_shortDescription()}"></td>
        <td th:text="${p.getPost_title()}"></td>
        <td><a th:href="@{/post/delete/{id}(id=${p.getPost_id()})}">delete</a></td>
        <td><a th:href="@{/post/showUpdate/{id}(id=${p.getPost_id()})}">update</a></td>
    </tr>
</table>
</body>
</html>