<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>update post</h1>
<p>
  <a th:href="@{/post}">
    Back to post list
  </a>
</p>
<form th:action="@{/post/update/{id}(id=${post.getPost_id()})}" th:object="${post}">

    Title <input type="text" th:field="*{post_title}"> <br>
    Content <input type="text" th:field="*{post_content}"> <br>
    Description <input type="text" th:field="*{post_shortDescription}"> <br>
    Photo <input type="text" th:field="*{post_imgUrl}"> <br>
    <select>
        <option th:each="c : ${categories}" th:text="${c.getCategory_name()}" th:value="${c.getCategory_id()}"></option>
    </select>
    <input type="hidden" th:value="${post.getPost_id()}" th:field="*{post_id}">
    <input type="submit" value="edit">
</form>
</body>
</html>